<app-header></app-header>

<form>
    <div class='podaciK'>
        <h2>Podaci o korisnicima</h2>
    </div>

    <div class='product'>
        <ul>
            <li>
                <div class='product2'>
                    <div class='slika'></div>
                    <h3>Model: {{car.model}}</h3>
                    <p class='postavio'> Marka: {{car.marka}}</p><br>
                    <p class='postavio'> Cijena: {{car.cijena}}</p><br>
                    <p class='postavio'> Godiste: {{car.godiste}}</p><br>
                    <p class='postavio'> Karoserija: {{car.karoserija}}</p><br>
                    <p class='postavio'> Gorivo: {{car.gorivo}}</p><br>
                    <p class='postavio'> Lokacija: {{car.lokacija}}</p><br>

                </div>
            </li>
        </ul>
    </div>

</form>
<app-footer></app-footer>